{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shortner</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% comment %} 
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    {% endcomment %} 
</head>
<body>
    <div>
        <form id="shortner_form" action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <input type="text" name="url" id="url" placeholder="Your url here" autocomplete="off">
            <input type="submit" value="Submit">
        </form>
    </div>

    <script>
        url = "{% url 'create' %}"

        fetch(url=url, {
                type: "post",
                data: JSON.stringify({
                    url: "hello orld",
                    csrfmiddlewaretoken: "hello" //document.querySelector("input[name=crsfmiddlewaretoken]").value
                })
            })
    </script>

    {% comment %} 
    <script type="text/javascript">
        $(document).on("submit", "#shortner_form", function(event) {
            event.preventDefault();

            $.ajax({
                type: "POST",
                url: "{% url 'create' %}",
                data: {
                    url: $("#url").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },

                success: function (data) {
                    $("#url").val('');
                }
            })
        })
    </script>
    {% endcomment %} 
</body>
</html>
